CMakeCache.txt
*/CMakeFiles/*
Makefile
cmake_install.cmake
gcm3d
gcm3d-profile
nbproject
*/nbproject/*
materials/*
tools/*.bin
*.log
*/snap_volume_*
snap_volume_*
build/*
.project
.cproject
.dep.inc
*/Makefile-*.mk
*/.waf-*
*/.lock-wafbuild
*.cpp.*.o
*/waftools/*.pyc
*/.build
*.pyc
*.a
.lock-wafbuild
.waf-*

